version: '3'
services:
  db:
    image: postgres
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=dbname
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    build: .
    environment:
      - DB_HOST=db
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=dbname
      - SECRET_KEY=secret_key
    depends_on:
      - db
    ports:
      - 8000:8000

volumes:
  db-data:
